/* purgecss start ignore */
@import "tailwindcss/base";

/* purgecss end ignore */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://rsms.me/inter/inter.css");